<section class="home">
  <h1>Problems</h1>

  @if (loading()) {
    <p class="info">Loading...</p>
  }
  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  <div class="problem-table">
    <div class="list">
      @for (p of problems(); track p.name; let idx = $index) {
        <div class="problem-row" (click)="openProblem(p.name)">
          <div class="problem-id">{{ p.name }}</div>
          <div class="title-wrapper">
            <span class="title">{{ p.title }}</span>
          </div>
        </div>
      }
    </div>
  </div>
</section>